version: '2.3'

services:

    db_postgres:
        image: postgres:16
        restart: always
        ports:
            - ${POSTGRES_PORT}:5432
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        volumes:
            - pgdata:/var/lib/postgresql/data

    web:
        depends_on:
            - db_postgres
        image: ${APP_IMAGE}
        restart: always
        ports:
            - 8080:80
        env_file:
            - .env
        environment:
            - C_FORCE_ROOT=true
        tty: true
        command: python3 /app/manage.py runserver 0.0.0.0:80

    redis:
        image: redis
        restart: always
        ports:
          - 6379:6379
        command: redis-server --requirepass ${REDIS_PASSWORD}
        volumes:
            - redisdata:/data

    celerybeat:
      depends_on:
        - db_postgres
        - redis
        - web
      image: ${APP_IMAGE}
      volumes:
        - .:/app/
      env_file:
        - .env
      environment:
        - C_FORCE_ROOT=true
        - POSTGRES_ADDR=db_postgres
        - REDIS_ADDR=redis
      command: /bin/sh /app/bin/run_beat.sh

    celery:
      depends_on:
        - db_postgres
        - redis
        - web
        - celerybeat
      image: ${APP_IMAGE}
      env_file:
        - .env
      environment:
        - C_FORCE_ROOT=true
        - DATABASE_URL=${WORKER_DATABASE_URL}
        - REDIS_ADDR=127.0.0.1
      network_mode: "host"

      command: celery -A parking_services worker -E -l INFO --concurrency=4

volumes:
    pgdata:
    redisdata: